html,body {
  height:100%;
}

#wrap {
  min-height: 100%;
}

/*#main {
  overflow:auto;
  padding-bottom:30px;
}*/

.footer {
  position: relative;
  margin-top: -30px;  negative value of footer height 
  height: 30px;
  clear:both;
  padding-top:40px;
  color:#2c3e50;
}

input::-webkit-input-placeholder {
  color: #2c3e50 !important;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.searchInput {
  font-weight: bold;
  font-size: 1.5em; 
}

#body {
  background: #e74c3c;
}

#title {
  color: #2c3e50;
}

.btn.outline {
  background: none;
  padding: 12px 12px;
  padding-top: 8px;
}

.btn {
  height: 40px;
  padding-bottom: 20px;
}

.btn-primary.outline {
  border: 2px solid #2c3e50;
  color: #2c3e50;
}


.results {
  margin-top: 20px;
  border: 2px solid #2c3e50;
  background: #e74c3c;
  color: #2c3e50;
  padding: 5px;
}

#search {
  border: 2px solid #2c3e50;
  height: 40px;
  background: #e74c3c; 
}